.bloc__button {
  font-family: "Copperplate";
  display: flex;
  justify-content: center;
}

.styled {
  font-family: "Copperplate";
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(44, 85, 196);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.styled:hover {
  background-color: rgb(89, 169, 189);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.bloc__button2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text__form_input {
  font-family: "Copperplate";
  height: 30px;
  width: 110px;
  font-size: 1rem;
  text-align: center;
}

.ProductButton {
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  background: #e31837;
  color: #fff;
  transition: 0.2 ease-out;
}

.ProductButton:hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}