.fonds{
    background: #150f0f;
    width: 1000rem;
}
.Titres {
    font-size: 5rem;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 50rem;
}


.wrappers {
    min-height: 80vh;
    padding: 5rem calc((100vw - 1300px) / 2);
    display: flex;
    flex-direction: row;

}

.carts {
    width: auto;
    display: flex;
}


.cart__summarys {
    height: 100%;
    width:400px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    background-color: white;

}

.summary__titles {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0rem 6.5rem 2rem;
    text-align: center;

}

.barres{
    padding-right: 1rem;
    padding-left: 1rem;
}


.directions{
    display: flex;
    flex-direction: column;
    flex: 0.8;
}


.tests {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;
    padding: 0.45rem 0rem;
}

.tests span:nth-child(1) {
    font-size: 1.3rem;
    flex: 0.8;
    font-family: "Copperplate";
    text-align: left;
    

}

.tests span:nth-child(2) {
    flex: 0.2;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
    font-family: "Copperplate";
    text-align: center;


}

.summary__prices {
    display: flex;
    align-items: center;
    margin: 1rem;
    flex:0.2;
}


.summary__prices span:nth-child(1) {
    font-size: 1.3rem;
    flex: 0.8;
}

.summary__prices span:nth-child(2) {
    flex: 0.2;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}

.summary__checkoutBtns {
    padding: 10px 17px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


.summary__checkoutBtn:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}

.summary__checkoutBtn:hover {
    opacity: 0.75;
}
